{% load static %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage Sondaggi</title>
    <link rel="stylesheet" href="{% static 'sondaggi/index.css' %}" />
  </head>
  <body>
    <h1><a href="/">HomePage</a></h1>
    <h2>Sondaggi Disponibili</h2>
    <div class="sondaggi">
      {% if domande %} {% for domanda in domande %}
      <p>
        <a href="{% url 'sondaggi:dettagli' domanda.id %}">{{ domanda }}</a>
      </p>
      {% endfor %} {% else %}
      <p>Non ci sono sondaggi disponibili.</p>
      {% endif %}
    </div>

    <script>
      // Animazione di benvenuto
      document.addEventListener("DOMContentLoaded", () => {
        const title = document.querySelector("h1");
        title.style.transform = "scale(0)";
        title.style.transition = "transform 1s ease-in-out";

        setTimeout(() => {
          title.style.transform = "scale(1)";
        }, 500);
      });
    </script>
  </body>
</html>
