{% load static %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Risultati Sondaggio</title>
    <link rel="stylesheet" href="{% static 'sondaggi/risultati.css' %}" />
  </head>
  <body>
    <h1><a href="/">HomePage</a></h1>

    <h2>{{ question.testo_domanda }}</h2>

    <div class="sondaggi">
      <ul>
        {% for choice in question.choice_set.all %}
        <li>
          {{ choice.testo_opzione }} -- {{ choice.voti }}
            {% if choice.voti == 1 %} voto
            {% else %} voti
            {% endif %}
          {% endfor %}
        </li>
      </ul>
      <a href="{% url 'sondaggi:dettagli' question.id %}">Vota di nuovo?</a>
    </div>
  </body>
</html>
